<header>
  <a [routerLink]="['/list-tracker']">
      <img class="brand-logo" src="/assets/icon.svg" alt="logo" aria-hidden="true">
  </a>
  <p [routerLink]="['/list-tracker']">Home</p>
  <button [routerLink]="['/']" class="signout-button">Sign out</button>
</header>

<div class="container">
    <ul *ngFor="let tracker of trackerList" class="tracker-list">
      <li class="tracker-item">
        <div class="tracker-item-card">
          <small>Tracker ID: {{tracker.id}}</small>
          <p>Nom: {{tracker.name}}</p>
          <p>Status: {{tracker.status ? "alert" : "normal"}}</p>

          <button class="tracker-button button-{{tracker.id}}" (click)="showMap(tracker)">
            Track
          </button>
        </div>
      </li>
    </ul>
</div>
  