:host {
  --content-padding: 10px;
}

.head-div {
  display: flex;
  align-items: center; /* Align items vertically */
}

.brand-logo {
  height: 40px;
}

header {
  display: flex; /* Display header as flex container */
  justify-content: space-between; /* Spread the children elements */
  align-items: center; /* Align items vertically */
  height: 30px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

.head-div:last-child {
  margin-left: auto; /* Push the last child (paragraph) to the right */
}

.head-div p {
  margin: 0; /* Remove default margins */
  font-size: 24px; /* Adjust font size */
  font-weight: bold; /* Make it bold */
  color: #333; /* Set text color */
}

.content {
  padding: var(--content-padding);
}
