.map-frame {
  border: 2px solid black;
  height: 37em;
}

#map {
  height: 100%;
}

.back-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.back-button {
  background-color: #f44336;
  color: white;
  padding: 0.3em 1em;
  border: none;
  cursor: pointer;
  border-radius: 0.5em;
}

